<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <title>Landing Page Titus</title>
</head>
<body>
<div id="hero">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">

        <a class="navbar-brand bg-secondary" href="#">~TITUS DIRGANTORO~</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active bg-danger border-dark">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active bg-info">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item active bg-warning">
                    <a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item active bg-info">
                    <a class="nav-link" href="#">Kegiatan</a>
                </li>

            </ul>
        </div>
    </nav>
    </div>

    <div class="h-txt">
        <form action="TambahStatus/" method="POST">
            {% csrf_token %}
            <h1 class="text-light"> Hallo, Apa kabar ??</h1>
            {{ form.statusnow }}
            <button type="submit" class="btn btn-success" id="add-btn">
                    <h6>submit</h6>
            </button>    
        </form>
    </div>

</div>
<div class = "row bg-info">
    <div class="col-md-12 col-xs-6">
        <h3 align="center" class="bg-dark">STATUS TERBARU</h3>
        <table align="center">
            {% for status in list_status %}
            <tr align="center">
                <td>
                <h3>
                    {{status.statusnow}}
                </h3>
                <h6>
                    {{status.date}}
                </h6>
                <hr>
                </td>
            </tr>
            {% endfor %}
        </table>    

    </div>
    
</div>

</body>
</html>